@import './index.scss';

.about_section {
    width: 284px;
    min-width: 250px;
    max-width: 325px;
    position: absolute;
    top: 180px;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(2px);
    border: $green-color 1px solid;
    border-radius: 8px;
    border-bottom-right-radius: 0;
    transition: ease-in-out 0.3s;

    h2 {
        border-bottom: $green-color 1px solid;
        padding-bottom: 1em;
        margin-bottom: 0;
    }
    p {
        text-align: left;
        margin-left: 20px;
        margin-right: 20px;
    }
    span {
        width: 1em;
        position: absolute;
        right: -38.4px;
        bottom: -1px;
        word-break: break-all;
        line-height: 0.9em;
        padding: 0.2em;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        color: $green-color;
        background-color: transparent;
        border: $green-color 1px solid;
        border-left: 1px solid transparent;
        cursor: pointer;
        &:hover {
            color: rgba(0, 0, 0, 0.75);
            background: $green-color;
        }
    }
}
.about_section-hidden {
    width: 284px;
    position: absolute;
    top: 180px;
    left: 0;
    transform: translateX(calc(-100%));
    min-width: 250px;
    max-width: 325px;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(2px);
    border: $green-color 1px solid;
    border-radius: 8px;
    border-bottom-right-radius: 0;
    transition: ease-in-out 0.3s;
    h2 {
        border-bottom: $green-color 1px solid;
        padding-bottom: 1em;
        margin-bottom: 0;
    }
    p {
        text-align: left;
        margin-left: 20px;
        margin-right: 20px;
    }
    span {
        width: 1em;
        position: absolute;
        right: -36.4px;
        bottom: -1px;
        word-break: break-all;
        line-height: 0.9em;
        padding: 0.2em;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        cursor: pointer;
        &:hover {
            color: $green-color;
            background-color: transparent;
            border: $green-color 1px solid;
        }
    }
}