@import './index.scss';

.App {
  text-align: center;
  color: $green-color;
  font-family: monospace;
}

h1 {
  margin: 0;
}

.projectView {
  display: flex;
  height: 70vh;
  width: 80vw;
  padding: 0;
  background-color: #FFF;
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 8px;
  border: 1px solid $green-color;
}

.app_footer {
  position: fixed;
  bottom: -100px;
  width: 100vw;
  padding: 0 0 0.5em 0;
  display: flex;
  justify-content: center;
  transform: translateX(-50px);
  transition: ease-in-out 0.5s;
  ul {
    display: flex;
    gap: 1em;
    list-style: none;
    a {
      text-decoration: none;
    }
  }
}
.app_footer:hover {
  bottom: 0;
}

@media (max-width: 1030px) {
  .app_footer:hover {
    bottom: 0;
    height: 95vh;
    transform: translateX(0%);
  }
}