.App {
  text-align: center;
  color: #79FE0C;
  font-family: monospace;
}

h1 {
  margin: 0;
}

.projectView {
  display: flex;
  height: 70vh;
  width: 80vw;
  padding: 0;
  background-color: #FFF;
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 8px;
  border: 1px solid #79FE0C;
}

.app_footer {
  position: fixed;
  bottom: -100px;
  width: 100vw;
  padding: 0.5em 0;
  display: flex;
  justify-content: center;
  background: dimgrey;
  transition: ease-in-out 0.5s;
  ul {
    display: flex;
    gap: 1em;
    list-style: none;
    a {
      text-decoration: none;
    }
  }
}
.app_footer:hover {
  bottom: 0;
}