@import 'index.scss';

.home_layout {
    height: 100vh;
    padding: 0 10vw;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-image: url(../assets/wil-stewart-RpDA3uYkJWM-unsplash.jpg);
    overflow: hidden;
    .home_header {
        padding-top: 3em;
    }
    span {
        width: fit-content;
        background: $green-color;
        color: rgb(0 0 0 / 75%);
        font-weight: bolder;
        font-size: xx-large;
        border-radius: 8px;
    }
}
