.home_layout {
    height: 100vh;
    padding: 0 10vw;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-image: url(../assets/wil-stewart-RpDA3uYkJWM-unsplash.jpg);
    overflow: hidden;
    .home_header {
        padding-top: 3em;
    }
    span {
        width: fit-content;
        background: chartreuse;
        color: rgb(0 0 0 / 75%);
        font-weight: bolder;
        font-size: xx-large;
        border-radius: 8px;
    }
    .about_section {
        width: 30vw;
        min-width: 250px;
        max-width: 325px;
        display: flex;
        flex-direction: column;
        backdrop-filter: blur(2px);
        border: #79FE0C 1px solid;
        border-radius: 8px;
        border-bottom-right-radius: 0;
        transition: ease-in-out 0.3s;

        h2 {
            border-bottom: chartreuse 1px solid;
            padding-bottom: 1em;
            margin-bottom: 0;
        }
        p {
            text-align: left;
            margin-left: 20px;
            margin-right: 20px;
        }
        span {
            width: 1em;
            position: absolute;
            right: -36.4px;
            bottom: -1px;
            word-break: break-all;
            line-height: 0.9em;
            padding: 0.2em;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            cursor: pointer;
        }
    }
    .about_section-hidden {
        width: 30vw;
        min-width: 250px;
        max-width: 325px;
        display: flex;
        flex-direction: column;
        backdrop-filter: blur(2px);
        border: #79FE0C 1px solid;
        border-radius: 8px;
        border-bottom-right-radius: 0;
        transform: translateX(-515px);
        transition: ease-in-out 0.3s;
        h2 {
            border-bottom: chartreuse 1px solid;
            padding-bottom: 1em;
            margin-bottom: 0;
        }
        p {
            text-align: left;
            margin-left: 20px;
            margin-right: 20px;
        }
        span {
            width: 1em;
            position: absolute;
            right: -36.4px;
            bottom: -1px;
            word-break: break-all;
            line-height: 0.9em;
            padding: 0.2em;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            cursor: pointer;
        }
    }
    .languages {
        width: fit-content;
        display: flex;
        flex-direction: column;
        margin: 0 0 0 auto;
        backdrop-filter: blur(2px);
        border: #79FE0C 1px solid;
        border-radius: 8px;
        border-top-left-radius: 0;
        transition: ease-in-out 0.3s;
        span {
            width: 1em;
            position: absolute;
            left: -36.4px;
            top: -1px;
            word-break: break-all;
            line-height: 0.9em;
            padding: 0.2em;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
            cursor: pointer;
        }
        h2 {
            border-bottom: chartreuse 1px solid;
            padding-bottom: 1em;
        }
        ul {
            text-align: left;
            margin: 0 20px 20px 0;
        }
    }
    .languages-hidden {
        width: fit-content;
        display: flex;
        flex-direction: column;
        margin: 0 0 0 auto;
        backdrop-filter: blur(2px);
        border: #79FE0C 1px solid;
        border-radius: 8px;
        border-top-left-radius: 0;
        transform: translateX(493px);
        transition: ease-in-out 0.3s;
        span {
            width: 1em;
            position: absolute;
            left: -36.4px;
            top: -1px;
            word-break: break-all;
            line-height: 0.9em;
            padding: 0.2em;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
            cursor: pointer;
        }
        h2 {
            border-bottom: chartreuse 1px solid;
            padding-bottom: 1em;
        }
        ul {
            text-align: left;
            margin: 0 20px 20px 0;
        }
    }
    .links {
        width: 30vw;
        min-width: 250px;
        max-width: 325px;
        backdrop-filter: blur(2px);
        border: #79FE0C 1px solid;
        border-radius: 8px;
        border-bottom-right-radius: 0;
        transition: ease-in-out 0.3s;
        h2 {
            border-bottom: chartreuse 1px solid;
            padding-bottom: 1em;
        }
        ul {
            list-style: none;
            display: flex;
            justify-content: center;
            gap: 1em;
            padding: 0;
            margin: 0 20px 20px 20px;
            li {
                font-size: 50px;
                svg {
                    transition: ease-in-out 0.3s;
                }
                svg:hover {
                    fill: #7451eb;
                }
            }
        }
        span {
            width: 1em;
            position: absolute;
            right: -36.4px;
            bottom: -1px;
            word-break: break-all;
            line-height: 0.9em;
            padding: 0.2em;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            cursor: pointer;
        }
    }
    .links-hidden {
        width: 30vw;
        min-width: 250px;
        max-width: 325px;
        backdrop-filter: blur(2px);
        border: #79FE0C 1px solid;
        border-radius: 8px;
        border-bottom-right-radius: 0;
        transform: translateX(-515px);
        transition: ease-in-out 0.3s;
        h2 {
            border-bottom: chartreuse 1px solid;
            padding-bottom: 1em;
        }
        ul {
            list-style: none;
            display: flex;
            justify-content: center;
            gap: 1em;
            padding: 0;
            margin: 0 20px 20px 20px;
            li {
                font-size: 50px;
                svg {
                    transition: ease-in-out 0.3s;
                }
                svg:hover {
                    fill: #7451eb;
                }
            }
        }
        span {
            width: 1em;
            position: absolute;
            right: -36.4px;
            bottom: -1px;
            word-break: break-all;
            line-height: 0.9em;
            padding: 0.2em;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            cursor: pointer;
        }
    }
}
