@import 'index.scss';

.languages {
    width: 284px;
    min-width: 250px;
    max-width: 325px;
    position: absolute;
    top: 390px;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: rgb(65, 65, 65);
    border: $green-color 1px solid;
    border-radius: 8px;
    border-bottom-right-radius: 0;
    transition: ease-in-out 0.3s;
    // @media (max-width: 375px) {
    //     top: 101px;
    // }
    @media (max-width: 980px) {
        top: 130px;
        left: 360px;
    }
    @media (max-width: 666px) {
        top: 180px;
        left: unset;
    }
    span {
        width: 1em;
        position: absolute;
        right: -38.4px;
        bottom: -1px;
        word-break: break-all;
        line-height: 0.9em;
        padding: 0.2em;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        cursor: pointer;
        border-left: 1px solid transparent;
        cursor: pointer;
        @media (max-width: 980px) {
            top: 5px;
            content: url(../assets/cross-svgrepo-com.svg);
            left: unset;
            right: 0px;
            top: 0px;
            border: $green-color 1px solid;
            border-top-left-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 8px;
        }
        &:hover {
            color: rgba(0, 0, 0, 0.75);
            background: $green-color;
        }
        svg {
            width: 0.8em;
        }
    }
    h2 {
        border-bottom: $green-color 1px solid;
        padding-bottom: 1em;
    }
    ul {
        text-align: left;
        margin: 0 20px 20px 0;
    }
}
.languages-hidden {
    width: 284px;
    min-width: 250px;
    max-width: 325px;
    position: absolute;
    top: 130px;
    left: 0;
    transform: translateX(calc(-100%));
    display: flex;
    flex-direction: column;
    margin: 0;
    backdrop-filter: blur(2px);
    border: $green-color 1px solid;
    border-radius: 8px;
    border-bottom-right-radius: 0;
    transition: ease-in-out 0.3s;
    span {
        width: 1em;
        position: absolute;
        right: -36.4px;
        bottom: -1px;
        word-break: break-all;
        line-height: 0.9em;
        padding: 0.2em;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        cursor: pointer;
        transition: ease-in-out 0.3s;
        transform: translateX(-5px);
        svg {
            width: 0.8em;
        }
        @media (max-width: 980px) {
            top: 50px;
            bottom: unset;
            right: -40px;
            height: -36.4px;
            border-left: 7px solid chartreuse;
            &:hover {
                transform: translateX(4px);
            }
        }
    }
    @media (max-width: 980px) {
        top: 20px;
    }
    h2 {
        border-bottom: $green-color 1px solid;
        padding-bottom: 1em;
    }
    ul {
        text-align: left;
        margin: 0 20px 20px 0;
    }
}
