@import 'index.scss';

.projectView {
        position: absolute;
        height: 70vh;
        width: 80vw;
        background-color: #FFF;
        button {
            height: 40px;
            width: 40px;
            position: absolute;
            top: -40px;
            right: 0;
            background: $green-color;
            color: rgba(0, 0, 0, 0.75);
            font-weight: bolder;
            font-size: xxx-large;
            text-align: center;
            border: none;
            border-radius: 8px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            cursor: pointer;
            svg {
                position: absolute;
                right: 50%;
                transform: translate(50%, -50%);
            }
        }
        iframe {
            width: 100%;
            border-radius: 8px;
        }
    }