.project_thumbnails {
    height: 125px;
    width: 100%;
    display: flex;
    @media (max-width: 1030px) {
        &:hover {
            height: calc(100% - 60px);
            flex-wrap: wrap;
            width: calc(100% - 100px);
        }
      }
    .my_projects {
        width: fit-content;
        align-self: center;
        padding-bottom: 1em;
        position: absolute;
        left: calc(50% + 50px);
        transform: translate(-50%, 0);
        top: -70%;
        transition: ease-in-out 0.3s;
        @media (max-width: 1030px) {
            top: -70%;
            &:hover {
                top: -25%;
            }
          }
        svg {
            font-size: 30px;
    @-webkit-keyframes bounce-top{0%{-webkit-transform:translateY(-45px);transform:translateY(-45px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:1}24%{opacity:1}40%{-webkit-transform:translateY(-24px);transform:translateY(-24px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}65%{-webkit-transform:translateY(-12px);transform:translateY(-12px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}82%{-webkit-transform:translateY(-6px);transform:translateY(-6px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}93%{-webkit-transform:translateY(-4px);transform:translateY(-4px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}25%,55%,75%,87%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}}@keyframes bounce-top{0%{-webkit-transform:translateY(-45px);transform:translateY(-45px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:1}24%{opacity:1}40%{-webkit-transform:translateY(-24px);transform:translateY(-24px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}65%{-webkit-transform:translateY(-12px);transform:translateY(-12px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}82%{-webkit-transform:translateY(-6px);transform:translateY(-6px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}93%{-webkit-transform:translateY(-4px);transform:translateY(-4px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}25%,55%,75%,87%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}}            -webkit-animation:bounce-top 3s ease-in-out infinite both;animation:bounce-top 3s ease-in-out infinite both        }
    }
    div:not(.my_projects) {
        transition: ease-in-out 0.3s;
        width: 100px;
        border-radius: 10px;
        backdrop-filter: blur(2px);
    }
    img {
        width: 200px;
        border-radius: 10px;
        box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
        cursor: pointer;
        overflow: visible;
    }
    div:hover:not(.my_projects) {
        transform: translate(0, -10%);
    }
    span {
        color: #79FE0C;
        font-weight: 500;
        font-family: monospace;
        cursor: pointer;
        }
    span:hover {
        text-decoration: underline;
    }
}
.project_thumbnails::-webkit-scrollbar {
    display: none;
}