.App {
  text-align: center;
  color: #79FE0C;
  font-family: monospace;
}

h1 {
  margin: 0;
}

.app_footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.5em 0;
  display: flex;
  justify-content: center;
  background-color: dimgrey;
  ul {
    display: flex;
    gap: 1em;
    list-style: none;
    a {
      text-decoration: none;
    }
  }
}